html, body {
    height: 100%; /* HTML ko bhi height dena zaroori hai */
    margin: 0;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; /* Extra margin hatayein */
}

.container{
    flex: 1 0 auto;
}

footer {
    margin-top: auto; /* Ye ensure karta hai ki content kam ho tab bhi footer niche rahe */
    flex-shrink: 0; /* Footer ko dabne se rokne ke liye */
    background-color: #ebebeb;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    font-size: 2rem;
    color: #fe424d;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;

}

.f-info-links a:hover{
    text-decoration: underline;
}


.f-info-socials , .f-info-links , .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.25rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; /* space-evenly ki jagah center try karein agar gap zyada ho */
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: #fff;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

